*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: darkblue;
}

h1{
    color: aquamarine;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}

.square{
    width: 70px;
    height: 70px;
    background-color: lightgreen;
    line-height: 70px;
    vertical-align: middle;
    text-align: center;
    border-radius: 10px;
}

.container{
    margin: auto;
    margin-top: 50px;
    width: 70%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: lightsalmon;
    border-radius: 50px;
}

.red{
    background-color: red;
}

.blue{
    background-color: lightblue;
}

.orange{
    background-color: orange;
}

.square:hover{
    transform: scale(1.2);
}